/*Navigation..... */

#default,#myNavbar {
  background:#547490;
  opacity: 0.9;
  font-size:1.8rem;
  border-style:hidden;
  }

.icon-bar {
  background:white !important;
}

ul.nav a {
  color:white !important;
}

/*Primary content........  */

body {
   background: white;
   background-size: cover;
   }

h1 {
 margin-top:50px;
 font-size:3em;
 color:black;
 font-weight:400;
}

h2 {
  color:black;
  text-align:center;
  margin-top:50px;
  font-size:1.5em;
 }

 #firstdescription {
   font-size:1.6rem;
 }

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.jumbotron {
     background-color:transparent;
    }

.img-responsive {
     border-radius:1%;
     height: 200px;
    }

p {
  color:black;
  font-weight: 300;
  font-size:1.3em;
  margin-top:40px;
  padding-top: 30px;
  }

/*Separator*/

#divseparator {
    margin-top:30px;
    height: 5px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/*Main Content.......  */

h3,h4,h5 {
  color:#5a2e2a;
  font-weight:400;
  text-decoration:none;
  margin-top:50px;
  font-size:2.5rem;/*40/16px........  */
  text-align:center;
}

#portfolio img {
  width:100%;
}

#travel-site, #landing-page,
#random-quote, #color-game, #gallery, p {
                font-size:1.8em;
                text-align:center;
              }

.skills li {
  padding: 0 40px;
  font-size: 1.8rem;
  color:black;
  font-weight: 200;
}

/*Projects*/
 .description {
  color:black;
  margin-top:-40px;
  font-size: 1.6rem;
}

/*Contact info*/

 #contact {
  margin-top: 80px;
}

#contact a {
  color: #FF6F69;
}

#contact a:hover {
  text-decoration: none;
}

/*Footer*/

#contactext {
  position: relative;
  font-size: 1.6rem;
}

footer p a, footer p a:hover {
  color: #FF6F69;
}

.social li {
  display: inline-block;
  margin-top: 10px;
}

.icon .fa {
  height: 50px;
  width: 50px;
  background-color: turquoise;
  border: 2px solid #EDEDED;
  border-radius: 50%;
}

.icon .fa:hover {
  background-color: #EDEDED;
  border: 2px solid #FF6F69;
  border-radius: 50%;
}

.fa {
  font-size: 2.8em;
  color: #EDEDED;
  position: relative;
  margin: 0 20px;
  padding-top: 8px;
}

.social .fa:hover {
  color: #FF6F69;
}

.copyright{
  font-size: 1.6rem;
}


/*Media Queries*/

@media screen and (max-width: 768px) {
  .skills h3 {
    margin-bottom: -5px;
  }
  .icon .fa {
    height: 35px;
    width: 35px;
    border: 3px solid #EDEDED;
    border-radius: 50%;
  }
  .fa {
    font-size: 2em;
    color: #EDEDED;
    position: relative;
    margin: 0 20px;
    padding-top: 5px;
   }
  }
